/* Imports */
@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/* Variables */
:root {
    /* colors */
    --mainColor: black;
    --backColor: white;
    --accent: #ffc600;
    /* fonts */
    --titleFont: 'Cinzel Decorative', cursive;
    --textFont: 'Open Sans', sans-serif;
    /* gradients */
    --darkGradient: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    --dimGradient: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    /* common card frame */
    --commonGradient: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, .25), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    /* uncommon card frame */
    --uncommonGradient: linear-gradient(to top, rgba(51, 51, 51, 1), rgba(51, 51, 51, 1), rgba(51, 51, 51, .5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    /* rare card frame */
    --rareGradient: linear-gradient(to top, rgba(182, 145, 25, 1), rgba(182, 145, 25, .9), rgba(182, 145, 25, .5), rgba(182, 145, 25, .2), rgba(0, 0, 0, 0));
}

/* Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-align: center;
    /* outline: 3px solid black; */
}
html {
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
}

/* Body Styles */

/* make highlights invisible */
*::selection {
    background-color: rgba(0, 0, 0, 0);
}


/* Game Backgrounds */

/* Start Screen */
html {
    /* background fill image */
    background-image: var(--dimGradient) ,url(../img/start/wizard-battle.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    height: 100%;
    overflow: hidden;
    /* position for hero text */
    position: relative;
}

/* Game Board Classes */
.castle {
    background-image: var(--dimGradient), url(../img/maps/castle.png);
}
.falls {
    background-image: var(--dimGradient), url(../img/maps/falls.png);
}
.guincho {
    background-image: var(--dimGradient), url(../img/maps/guincho.png);
}
.orc-fortress {
    background-image: var(--dimGradient), url(../img/maps/orc-fortress.png);
}
.realm {
    background-image: var(--dimGradient), url(../img/maps/realm.png);
}
.flying-fortress {
    background-image: var(--dimGradient), url(../img/maps/flying-fortress.png);
}
.ancient-tree {
    background-image: var(--dimGradient), url(../img/maps/ancient-tree.png);
}














/* Title Styles */

.hero-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-40%, -50%);
}

.title {
    font-family: var(--titleFont);
    font-weight: 900;
    font-size: 8vw;
    text-align: left;
    line-height: 7vh;
    text-shadow: 2px 2px 2px rgba(51,51,51,0.5);
    margin-bottom: .6em;
}    

.tagline {
    font-family: var(--textFont);
    font-weight: 400;
    font-size: 2rem;
    font-style: italic;
    text-align: left;
}    







/* Footer Styles */

.footer {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    font-family: var(--textFont);
    color: white;
    font-size: 1rem;
    z-index: 2000;
}    









/* link Styles */

.link {
    text-decoration: none;
    color: var(--accent);
}    
.link:hover {
    filter: brightness(60%);
}    
.link:active {
    filter: brightness(115%);
}    






/* Social Links */

.social-links {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 4rem;
    color: white;
}    

.social-links a {
    color: white;
}    







/* Play Button */

.play-btn {
    color: white;
    font-size: 12rem;
    position: absolute;
    top: 46%;
    right: 15%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2000;
}    







/* Card Row Styles */

.card-row {
    position: absolute;
    left: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /* border: 3px solid gold; */
}    

.buy {
    height: 40%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}    

.player-1 {
    width: 100%;
    height: 30%;
    bottom: 5%;
    transform: translateX(-50%);
}    

.player-1 .card-container {
    max-width: 18vw;
}


.player-2 {
    height: 50%;
    top: 5%;
    transform: translateX(-50%);
    z-index: -2000;
    /* border: 3px solid gold; */
}






/* Card Styles */

.card-container {
    background: var(--dimGradient);
    height: 40vh;
    width: 32vh;
    border: 1px solid black;
    border-radius: .75em;
    margin: 0 1rem;
    position: relative;
    overflow: hidden;
}











/* Card Images */

/* Tier 1 */

.tier-1-common {
    background: url(../img/card-images/heroes/1-c.png);
}

.tier-1-uncommon-a {
    background: url(../img/card-images/heroes/1-u-a.png)
}

.tier-1-uncommon-b {
    background: url(../img/card-images/heroes/1-u-b.png);
}

.tier-1-rare {
    background: url(../img/card-images/heroes/1-x.png);
}

/* Tier 2 */

.tier-2-common {
    background: url(../img/card-images/heroes/2-c.png);
}

.tier-2-uncommon-a {
    background: url(../img/card-images/heroes/2-u-a.png)
}

.tier-2-uncommon-b {
    background: url(../img/card-images/heroes/2-u-b.png);
}

.tier-2-rare {
    background: url(../img/card-images/heroes/2-x.png);
}

/* Tier 3 */

.tier-3-common {
    background: url(../img/card-images/heroes/3-c.png);
}

.tier-3-uncommon-a {
    background: url(../img/card-images/heroes/3-u-a.png)
}

.tier-3-uncommon-b {
    background: url(../img/card-images/heroes/3-u-b.png);
}

.tier-3-rare {
    background: url(../img/card-images/heroes/3-x.png);
}

/* Tier 4 */

.tier-4-common {
    background: url(../img/card-images/heroes/4-c.png);
}

.tier-4-uncommon-a {
    background: url(../img/card-images/heroes/4-u-a.png)
}

.tier-4-uncommon-b {
    background: url(../img/card-images/heroes/4-u-b.png);
}

.tier-4-rare {
    background: url(../img/card-images/heroes/4-x.png);
}

/* Tier 5 */

.tier-5-common {
    background: url(../img/card-images/heroes/5-c.png);
}

.tier-5-uncommon-a {
    background: url(../img/card-images/heroes/5-u-a.png)
}

.tier-5-uncommon-b {
    background: url(../img/card-images/heroes/5-u-b.png);
}

.tier-5-rare {
    background: url(../img/card-images/heroes/5-x.png);
}

/* Tier 6 */

.tier-6-common {
    background: url(../img/card-images/heroes/6-c.png);
}

.tier-6-uncommon-a {
    background: url(../img/card-images/heroes/6-u-a.png)
}

.tier-6-uncommon-b {
    background: url(../img/card-images/heroes/6-u-b.png);
}

.tier-6-rare {
    background: url(../img/card-images/heroes/6-x.png);
}

/* Tier 7 */

.tier-7-common {
    background: url(../img/card-images/heroes/7-c.png);
}

.tier-7-uncommon-a {
    background: url(../img/card-images/heroes/7-u-a.png)
}

.tier-7-uncommon-b {
    background: url(../img/card-images/heroes/7-u-b.png);
}

.tier-7-rare {
    background: url(../img/card-images/heroes/7-x.png);
}

/* Tier 8 */

.tier-8-common {
    background: url(../img/card-images/heroes/8-c.png);
}

.tier-8-uncommon-a {
    background: url(../img/card-images/heroes/8-u-a.png)
}

.tier-8-uncommon-b {
    background: url(../img/card-images/heroes/8-u-b.png);
}

.tier-8-rare {
    background: url(../img/card-images/heroes/8-x.png);
}





/* Enemy Card Images */

.tier-enemy-1-common {
    background: url(../img/card-images/enemies/1.png);
}

.tier-enemy-2-common {
    background: url(../img/card-images/enemies/2.png);
}

.tier-enemy-3-common {
    background: url(../img/card-images/enemies/3.png);
}

.tier-enemy-4-common {
    background: url(../img/card-images/enemies/4.png);
}

.tier-enemy-5-common {
    background: url(../img/card-images/enemies/5.png);
}

.tier-enemy-6-common {
    background: url(../img/card-images/enemies/6.png);
}

.tier-enemy-7-common {
    background: url(../img/card-images/enemies/7.png);
}

.tier-enemy-8-common {
    background: url(../img/card-images/enemies/8.png);
}

.tier-enemy-9-common {
    background: url(../img/card-images/enemies/9.png);
}

.tier-enemy-10-common {
    background: url(../img/card-images/enemies/10.png);
}


.card-image {
    height: 32vh;
    /* replace this in js with dynamic classes */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-stat-container {
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: absolute;
}

.card-container:hover {
    filter: brightness(115%);
}

.card-container:active {
    filter: brightness(200%);
}

.card-stat-container.common,
.card-stat-container.enemy {
    background: var(--commonGradient);
}

.card-stat-container.uncommon-a,
.card-stat-container.uncommon-b {
    background: var(--uncommonGradient);
}

.card-stat-container.rare {
    background: var(--rareGradient);
}


.card-stat-row {
    height: 8.5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    font-size: 4rem;
    color: white;
    padding: 1rem;
    position: absolute;
    bottom: 0%;
}

.card-tier {
    font-size: 3vh;
    color: gold;
}

.power-health {
}

.power-health div {
    display: inline;
    text-shadow: 2px 2px 2px rgba(51,51,51,0.5);

}

.damaged {
    color: red;
}

.in-player-row {
    height: 100%;
    width: 25%;
}








.refresh-tier {
    color: white;
    position: absolute;
    top: 4vh;
    right: 19vh;
    font-size: 7vh;
    cursor: pointer;
}

.refresh-tier:hover {
    filter: brightness(85%);
}

.refresh-tier:active {
    filter: brightness(115%);
}

.refresh-cost {
    font-size: 2vh;
    position: absolute;
    top: 48%;
    left: 49%;
    transform: translate(-50%, -50%);
}






.current-tier {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--titleFont);
    color: white;
    font-size: 4vh;
    font-weight: 900;
    background: var(--darkGradient);
    padding: 1rem 2rem;
    border-radius: .8rem;
    border: 1px solid black;
    cursor: pointer;
}

.current-tier:hover {
    background: var(--dimGradient);
    cursor: pointer;
}

.upgrade-tier div{
    font-family: var(--textFont);
    display: inline-block;
    font-size: 2vh;
    font-weight: 400;
    font-style: italic;
    cursor: pointer;
}



.coins {
    color: white;
    font-family: var(--textFont);
    position: absolute;
    top: 4vh;
    left: 4vh;
    font-size: 8vh;
}

.coin-total {
    font-size: 4vh;
}






.reset-btn {
    font-size: 7vh;
    color: white;
    position: absolute;
    top: 4vh;
    left: 19vh;
    cursor: pointer;
}

.reset-btn:hover {
    filter: brightness(80%);
}

.reset-btn:active {
    filter: brightness(115%);
}



.go-to-combat {
    color: white;
    position: absolute;
    font-size: 12vh;
    font-weight: bold;
    top: 3vh;
    right: 3vh;
    cursor: pointer
}

.go-to-combat:hover {
    filter: brightness(80%);
}

.go-to-combat:active {
    filter: brightness(115%);
}










@media (max-width: 850px) {

    .body {
        width: 700px;
    }

}


/* mobile styles */

@media (max-width: 850px) and (orientation: landscape) {

    .play-btn {
        font-size: 25vh;
    }

    .card-stat-row {
        font-size: 1.5em;
    }

    .footer {
        display: none;
    }

}












/* hide class for toggles */

.hidden {
    display: none;
}